* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

:root {
  --bg-color: #400101;
  --bg-color-default: #400101;
  --text-color: #8da6a6;
  --hover-color: #bf2a2a;
  --button-style: #28282d;
}

body {
  background: var(--bg-color);
}

#pageOne {
  height: 200dvh;
}

.headerSiteColor {
  background-color: #28282d;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
}

.headerSiteColor li {
  color: var(--hover-color);
  cursor: pointer;
}

.headerSiteColor .list li:hover {
  color: var(--text-color);
}

.navBar img {
  height: 100px;
  padding: 20px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list {
  display: flex;
  gap: 50px;
  list-style: none;
  color: var(--text-color);
  cursor: pointer;
}
.list li:hover {
  color: var(--hover-color);
}

.welcome {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  align-items: flex-end;
}

.textWelcome {
  display: flex;
  flex-direction: column;
  height: 180px;
  color: var(--text-color);
  gap: 10px;
}

.social {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.perfilImg img {
  height: 300px;
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

.social a {
  padding: 16px 50px;
  border-radius: 5px;
  background-color: var(--bg-color-default);
  border: 1px solid var(--text-color);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.social a:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  background-color: var(--text-color);
}

.active {
  color: var(--hover-color);
}
